<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="">
    <div class="flex justify-center items-start min-h-screen pt-10">
        <form method="POST" action="/emp" class="w-full max-w-md bg-stone-300	text-black p-6 rounded-lg shadow-md">
          {% csrf_token %}
          <div class="space-y-4 flex flex-col items-center">
            <h3 class="text-xl font-semibold">Enter Details</h3>
            <div class="w-full">
              <label for="eid" class="block">Employee Id:</label>
              {{ form.eid }}
            </div>
            <div class="w-full">
              <label for="ename" class="block">Employee Name:</label>
              {{ form.ename }}
            </div>
            <div class="w-full">
              <label for="eemail" class="block">Employee Email:</label>
              {{ form.eemail }}
            </div>
            <div class="w-full">
              <label for="econtact" class="block">Employee Contact:</label>
              {{ form.econtact }}
            </div>
            <div>
              <button type="submit" class="bg-lime-900 text-white py-2 px-4 rounded">Submit</button>
              <a href="{% url 'show' %}" class="bg-lime-900 text-white py-2 px-4 rounded">Show</a>
            </div>
          </div>
        </form>
      </div>
</body>

</html>